<!DOCTYPE html>
<html lang="de">
<head>
    <style>
        .content {
            text-align: left;
            background-color: white;
            border: 1px solid grey;
            padding: 10px 40px;
            border-radius: 2px;
            margin: auto;
            max-width: 750px;
        }

        body {
            align-content: center;
        }

        .layer {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
</head>

<body>
<div class="layer">
    <div class="content">
        <h1>{{ title }}</h1>
        <p>{{{ content }}}</p>
    </div>
</div>
</body>
<footer class="footer">
</footer>
</html>
