<table style="width: 100%">
  <thead>
    <tr class="heading">
      <td>Buchungs-ID</td>
      <td>Zeitraum</td>
      <td style="text-align: right">Gesamt (netto)</td>
    </tr>
  </thead>
  <tbody>
    {{#each bookings}}
    <tr class="item" style="border-bottom: 1px solid #eee">
      <td style="padding: 5px">{{id}}</td>
      <td style="padding: 5px">{{period}}</td>
      <td style="padding: 5px; text-align: right">{{netto}}</td>
    </tr>
    <tr>
      <td colspan="3" style="padding: 5px">
        <strong>Details / Artikel:</strong><br />
        <ul style="margin: 0; padding-left: 20px">
          {{#each items}}
          <li>{{title}} x{{amount}} ({{totalPrice}})</li>
          {{else}}
          <li>Keine Buchungsobjekte vorhanden.</li>
          {{/each}}
        </ul>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<table style="width: 100%">
  <tr>
    <td>Gesamt (netto):</td>
    <td>{{totals.netto}}</td>
  </tr>
  <tr>
    <td>zzgl. MwSt.:</td>
    <td>{{totals.vat}}</td>
  </tr>
  <tr>
    <td><strong>Gesamt (brutto):</strong></td>
    <td><strong>{{totals.brutto}}</strong></td>
  </tr>
</table>
