<table class="pdf-items booked-items">
  <thead>
    <tr>
      <th>Buchungs-ID</th>
      <th>Zeitraum</th>
      <th class="num">Gesamt (netto)</th>
    </tr>
  </thead>
  <tbody>
    {{#each bookings}}
    <tr class="item">
      <td>{{id}}</td>
      <td>{{period}}</td>
      <td class="num">{{netto}}</td>
    </tr>
    <tr>
      <td colspan="3" class="sub">
        {{#each items}}{{title}} ×{{amount}} ({{totalPrice}}){{#unless @last}}
        &nbsp;·&nbsp; {{/unless}}{{else}}Keine Buchungsobjekte
        vorhanden.{{/each}}
      </td>
    </tr>
    {{/each}}
    <tr class="totals-sub netto">
      <td colspan="3">
        Gesamt (netto) {{totals.netto}} &nbsp;·&nbsp; zzgl. MwSt. {{totals.vat}}
      </td>
    </tr>
    <tr class="brutto">
      <td colspan="2">Gesamt (brutto)</td>
      <td class="num">{{totals.brutto}}</td>
    </tr>
  </tbody>
</table>
