<table class="pdf-items {{tableClass}}">
  <thead>
    <tr>
      <th class="bi-title">Beschreibung</th>
      <th class="bi-price-item num">Menge × Einzelpreis</th>
      <th class="bi-price-total num">Gesamt</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr class="item">
      <td class="bi-title">{{title}}</td>
      <td class="bi-price-item num">{{amount}} × {{unitPrice}}</td>
      <td class="bi-price-total num">{{totalPrice}}</td>
    </tr>
    {{/each}} {{#if coupon}}
    <tr class="coupon">
      <td colspan="2">{{coupon.description}}</td>
      <td class="num">{{coupon.discountLabel}}</td>
    </tr>
    {{/if}}
    <tr class="totals-sub netto">
      <td colspan="3">
        Gesamt (netto) {{totals.netto}} &nbsp;·&nbsp; zzgl. MwSt. {{totals.vat}}
      </td>
    </tr>
    <tr class="brutto">
      <td colspan="2">Gesamt (brutto)</td>
      <td class="num">{{totals.brutto}}</td>
    </tr>
  </tbody>
</table>
