<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Ihr Zahlungsbeleg</title>
    <style>
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1rem;
      }
      .booking-detail {
        border-collapse: collapse;
        width: 100%;
      }
      .booking-detail td,
      .booking-detail th {
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }
      .total-row {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <p class="receipt-data">
      Belegnummer: {{receiptNumber}}<br />
      Buchungsdatum: {{bookingDate}}
    </p>
    <p class="receipt-address">{{{receiptAddress}}}</p>
    <h1>Ihr Zahlungsbeleg</h1>
    <p>
      {{#if isAggregated}} Hiermit bestätigen wir den vollständigen
      Zahlungseingang für die folgenden Buchungen: {{else}} Hiermit bestätigen
      wir Ihre Buchung sowie den vollständigen Zahlungseingang für die folgenden
      Buchungsdaten: {{/if}}
    </p>
    {{{bookingEntries}}}
    <p>
      Dieses Schreiben wurde maschinell erstellt und ist ohne Unterschrift
      gültig.
    </p>
  </body>
</html>
